/*First Section*/

a {
    text-decoration: none;
    color: #E5E7EB;
    list-style: none;
    margin-bottom: 75px;
}

.links:hover {
    background-color: gray;
    height: 20px;
}

h1 {
    font-size: 24px;
    color: whitesmoke;
}

.cont1 {
    display: flex;
    justify-content: center;
    background-color: hsla(200, 60%, 1%, 0.877);
    flex: 1;


}

.text {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    flex: 1 1 0;
    color: whitesmoke;
    margin-left: 200px;
    margin-bottom: 15px;
}

h2 {
    flex: 3 1 0;
    color: #f9faf8;
    font-size: 48px;

}

.headsentence {
    flex: 2 1 0%;
    font-size: 18px;
    color: #E5E7EB;

}

.topbutton {
    flex: 1 1 auto;
    font-size: 18px;
    font-weight: 700;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 5px;
    border-color: #3882F6;
}

.img {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 0;
    align-items: flex-end;
    margin-right: 200px;
    margin-bottom: 15px;

}

img {
    height: 190px;
    width: 350px;
    margin-bottom: 75px;
    height: 265px;
    border-radius: 10px;
}

ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 36px;
    flex: 1 1 auto;
    font-size: 18px;
    color: #E5E7EB;
}

/*Second Section*/

.photos {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    align-items: center;
    text-align: center;

}
.boxes {
    display: flex;
    width: 60%;
    justify-content: center;

}

.pics {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.content, .box {
    width: 150px;
    flex: 2 2 0;
}
.title {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
}

.cont2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

/*Third Section*/

.cont3 {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 100px;
    padding: 100px;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;

}

body {
    display: flex;
    flex-flow: column wrap;
    min-height: 100%;
}

.thor{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-style: normal;
}

/*Fourth Section*/

.cont4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 40px 60px 10px;
    flex: 1;
}

.bluebox {
    display: flex;
    flex-flow: column nowrap;
    background-color: #3882F6;
    flex: 1;
    padding: 10px 100px;
    border-radius: 10px;
    color: white;
    font-size: 19px;
    align-content: space-around;

}

.bottombutton {
    margin-left: 450px;
    border-color: white;
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    align-self: flex-end;
}

.boldtext {
    font-weight: bolder;
    font-size: 25px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    height: 40px;
    flex: 1;
}
